{% extends "layout.html" %}

{% block input_text %}
<p>

<textarea name ="input_text" rows="10" cols="100" value="{{request.form.input_text}}" required>
{{input_text}}
</textarea>
<br>
<label><b>Enter Expected Summary (Not Required)</b></label>
<br>
<textarea name="expected_summary" rows="10" cols="100" value="{{request.form.expected_summary}}">
{{expected_summary}}
</textarea>

</p>
{% endblock %}

{% block summary %}
<p>
<label><b>Summary</b></label>
<br>
<textarea id="summary" rows="10" cols="100">
{{summary}}
</textarea>
</p>
{% endblock %} 

